extends main
include mixins

block vars
    - var hasToolbar = true
block content
    div(ng-app='allcount', ng-controller='EntityViewController')
        +defaultToolbarContainer()
          +listActionsContainer()
            input#card-id.form-control(placeholder="Номер карты", type="text", ng-model="viewState.filtering.filtering.cardId", ng-init="viewState.filtering.filtering = {cardId: ''}")
        .container.screen-container(ng-cloak, ng-controller="SignInOutController")
            +defaultList()(paging="{}", ng-show="viewState.filtering.filtering.cardId")
              h1(ng-if="!items[0]") Запись не найдена
              div(ng-if="items[0]")
                 h1 {{items[0].name}}  
               h1(ng-if="!items[0].photo") Фото не установлено
               div(ng-if="items[0].photo")  
               img(src='{{items[0].photo}}') 
               h2
                i.fa.fa-clock-o
                | &nbsp;{{items[0].validUntil | date}}
                .row.btn-toolbar
                  .col-lg-6: button.btn-block.btn.btn-lg.btn-success(ng-click="signIn(items[0])") Вход
                  .col-lg-6: button.btn-block.btn.btn-lg.col-lg-6.btn-danger(ng-click="signOut(items[0])") Выход
            h1(ng-hide="viewState.filtering.filtering.cardId") Введите номер карты
               
            +noEntries()
            +defaultEditAndCreateForms()

block js
    +entityJs()
    script.
      angular.module('allcount').controller('SignInOutController', ['$scope', 'lcApi', '$q', function ($scope, lcApi, $q) {
        $scope.signIn = function (member) {
          return lcApi.createEntity({entityTypeId: 'MemberSignInOutTime'}, {membership: {id: member.id}, signInTime: moment().format('YYYY-MM-DD HH:mm:ss')}).then(function () {
            resetState();
          })
        }
        
        $scope.signOut = function (member) {
          return lcApi.findRange({entityTypeId: 'MemberSignInOutTime'}, {filtering: {membership: member.id}}).then(function (signIn) {
            if (!signIn[0] || signIn[0].signOutTime) {
              alert("Не найдена запись входа!")
              return;
            }
            return lcApi.updateEntity({entityTypeId: 'MemberSignInOutTime'}, {id: signIn[0].id, signOutTime: moment().format('YYYY-MM-DD HH:mm:ss')}).then(function () {
              resetState();
            })
          })
        }
        
        function resetState() {
          $scope.viewState.filtering.filtering = {cardId: ''};
          $("#card-id").focus();
        }
        
        $(function () {
          resetState();
        })
      }])